<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fjmx.mapper.NewsMapper" >
    <resultMap id="NewsMapper" type="cn.fjmx.entity.News">
        <id column="nid" property="nid"/>
		<result column="up_menu_id" property="upMeunId"/>
		<result column="heat_press" property="heatPress"/>
		<result column="is_homepage" property="isHomepage"/>
    </resultMap>

	<!--* 获取顶部标题
	public List<News> findHomepageTopTitle();-->
	<select id="findHomepageTopTitle" resultMap="NewsMapper">
		select
			*
		from
			homepage_news
		where
			is_homepage = 1
	</select>

	<!--* 根据上级新闻id获取底部首页的数据
	public List<News> findHomepageNewsByNId(Integer nid);-->
	<select id="findHomepageNewsTitleByNId" resultMap="NewsMapper">
		select
			*
		from
			news
		where
			up_menu_id = #{nid} and is_homepage = 1
	</select>

	<!--* 根据上级新闻id获取底部数据
	public List<News> findByUpMenuId(Integer nid);-->
	<select id="findByUpMenuId" resultMap="NewsMapper">
		select
			*
		from
			news
		where
			up_menu_id = #{nid}
	</select>


</mapper>







